<footer>
  <div class="f-info sticky-bottom">
    <div class="f-info-socials bg-body-secondary">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-github"></i>
    </div>
    <div class="f-info-links bg-body-secondary">
      <a href="/privacy">Privacy</a><a href="/terms">Terms</a>
    </div>
    <div class="f-info-Cname bg-secondary">
      &copy;&nbsp;PackNGo India Pvt. Ltd.&nbsp;2024
    </div>
  </div>
</footer>
