<% layout("/layouts/boilerplate")%>
<div class="row">
  <div class="col-8 offset-2">
    <body>
      <form class="new-body-container" action="/listings" method="post">
        <br /><br />
        <h3 style="color: #1e2a5e">Create a new Listing here:</h3>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            class="form-control"
            placeholder="Enter a unique title "
          />
        </div>

        <div class="mb-3">
          <label for="desc" class="form-label">Description</label
          ><textarea name="listing[desc]" class="form-control"></textarea>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            name="listing[price]"
            placeholder="1300"
          />
        </div>

        <div class="mb-3">
          <label for="img" class="form-label"></label>
          <input
            type="text"
            name="listing[img]"
            class="form-control"
            placeholder="Paste Link/Url of Image"
          />
        </div>

        <div class="row mb-3">
          <div class="col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              class="form-control"
              placeholder="Dehradun,U.K."
            />
          </div>
          <div class="col-md-4">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              class="form-control"
              name="listing[country]"
              placeholder="India"
            />
          </div>
        </div>
        <br /><br />
        <button class="btn btn-dark">Create</button>
        <br /><br />
      </form>
    </body>
  </div>
</div>
